body {
  background-color: aliceblue;
  
}

div.paragraphs {
  color: purple;
}

.sidebar {
  border: black solid 2px;
  width: 200px;
  float: right;
  background-color: yellow;
  padding: 3px;
  margin: 5px;
}

.sidebar span {
  color:red;
}

.songs {
  float:left;
  background-color: beige;
}

img {
  float:left;
  padding: 5px;
}